.header h1 {
                        font: 24px Verdana, Arial, Helvetica, sans-serif;
                        margin: 20px;
                        padding: 35px;

                        background: url('./1920px-Flag_of_Schleswig-Holstein.svg.png');
                        color: white;
}
.flag img {
                        width: 150px;
                        height: 150px;
                        padding: 5px;
                        margin: 15px;
                        float: right;
                        border: 2px solid gray;
}

.flag {

                        display: block;
                        float: right;
                        text-align: center;

}

.content p,
h2,
h1 {
                        margin: 15px;
                        padding: 0px;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.firstwar img {
                        width: 400px;
                        height: 300px;
}